

<section>
  <div class="container">
    <div class="col align-self-center">
      <h2>Create New Post</h2>
      <form class="new-post-form">
        <div class="mb-3">
          <label for="post-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Example Title" />
        </div>
        <div class="mb-3">
          <label for="post-content" class="form-label">Content</label>
          <div>
            <textarea class="form-control" name="post-content" rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
      </form>
    </div>
  </div>
</section>




<script src="/javascript/userPost.js"></script>




