<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
        <div>
          <textarea name="post-content"></textarea>
        </div>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>


<script src="/javascript/userPost.js"></script>