<div class="container">
  <h2>Recent Posts</h2>
<section class="container">
<div class="post-list row">
  {{#each posts as |post|}}
  <div class="col-3">
    <button type="submit" class="btn btn-dark text-white mb-3">{{> post-info post }}</button>
  </div>
  {{/each}}
</div>
</section>


</div>